<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="/public/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <h1>
        Exercise Tracker
      </h1>
    </header>
    <main>
      <div class="container">
        <div class="container-section">
          <section class="new-user">
            <div>
              <h2>Create a New User</h2>
            </div>
            <div class="signature">
              <span>POST /api/exercise/new-user</span>
            </div>
            <div>
              <input type="text" placeholder="username" id="user-name" />
            </div>
            <div>
              <button id="exercise-user-submit">Submit</button>
            </div>
          </section>
          <section class="add-exercises">
            <div>
              <h2>Add exercises</h2>
            </div>
            <div class="signature">
              <span>POST /api/exercise/add</span>
            </div>
            <div>
              <input type="text" placeholder="userid*" id="user-id" />
            </div>
            <div>
              <input type="text" placeholder="description*" id="description" />
            </div>
            <div>
              <input
                type="text"
                placeholder="duration* (mins.)"
                id="duration"
              />
            </div>
            <div>
              <input type="text" placeholder="date (yyyy-mm-dd)" id="date" />
            </div>
            <div>
              <button id="exercise-submit">Submit</button>
            </div>
          </section>
        </div>
        <div>
          <div>
            <h2>GET users's exercise log:</h2>
            <div class="signature">
              <span>GET /api/exercise/log?{userId}[&from][&to][&limit]</span>
            </div>
          </div>
          <div>
            { } = required, [ ] = optional from, to = dates (yyyy-mm-dd); limit
            = number
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    const createNewUser = username => {
      const data = { username: username };

      return fetch("/api/exercise/new-user", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
    };

    const createNewExercise = (userId, date, description, duration) => {
      const payload = {userId, date, description, duration};

      return fetch("/api/exercise/add", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(payload)
      });
    }

    const userNameSubmit = document.getElementById("exercise-user-submit");
    const exerciseSubmit = document.getElementById("exercise-submit");

    userNameSubmit.onclick = evt => {
      var userName = document.getElementById("user-name");
      createNewUser(userName.value);
    };

    exerciseSubmit.onclick = evt => {
      var userId = document.getElementById("user-id");
      var date = document.getElementById("date");
      var description = document.getElementById("description");
      var duration = document.getElementById("duration");
      createNewExercise(userId.value, date.value, description.value, duration.value);
    };
  </script>
</html>
